<%= form_with model: @product, class: 'file-picker', data: { controller: 'file-picker' } do |f| %>
  <%= render 'products/parts/sticky_header', product: @product,  f: f %>

  <div class="px-4 sm:px-6 lg:px-8 pb-10">
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4 space-y-6">
        <div>
          <h2 class="text-lg font-medium leading-6 text-gray-900">Content Delivery</h2>
          <p class="mt-1 text-sm text-gray-600">Upload the product's content for purchase</p>
        </div>

        <div class="space-y-6">
          <%=  turbo_frame_tag 'uploaded_files' do %>
            <% @contents.each do |content| %>
              <%= render UploadedFileComponent.new(content_id: content.id, name: content.name, file_type: content.file_type, file_size: content.file_size) %>
            <% end %>
          <% end %>
        </div>

        <div class="flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6 bg-white">
          <div class="space-y-3 text-center">
            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl text-gray-600"></i>
            <div class="text-sm text-gray-600 justify-center">
              <label for="file-upload" class="relative cursor-pointer bg-white font-medium text-indigo-600 focus-within:outline-none hover:text-indigo-500">
                <span>Upload your files</span>
                <input
                  data-action="change->file-picker#uploadFiles"
                  id="file-upload"
                  name="file-upload"
                  type="file"
                  class="sr-only"
                  multiple
                >
              </label>
            </div>
            <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
