<%= form_with model: @product do |f| %>
  <%= render 'products/parts/sticky_header', product: @product,  f: f %>

  <div class="space-y-8 px-4 sm:px-6 lg:px-8">
    <div>
      <h2 class="text-lg font-medium leading-6 text-gray-900">Content Delivery</h2>
      <p class="mt-1 text-sm text-gray-600">Upload the product's content for purchase</p>
    </div>

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <div class="space-y-3">
          <div class="relative  rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
            <div class="flex items-center space-x-3">
              <div class="flex-shrink-0">
                <i class="fa-regular fa-file-lines fa-2xl"></i>
              </div>
              <div class="min-w-0 flex-1">
                <div class="focus:outline-none">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-gray-900">Some file</p>
                  <p class="truncate text-sm text-gray-500">ZIP &middot; 314.2 MB</p>
                </div>
              </div>

              <div class=" flex flex-shrink-0 z-10">
                <div class="mr-2">
                  <%= link_to '', class: "#{white_btn} py-3" do %>
                    <i class="fa-solid fa-chevron-down"></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to '', class: "#{white_btn} py-3" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="hidden mt-3">
              <p>Edit form here</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6 bg-white">
          <div class="space-y-3 text-center">
            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl text-gray-600"></i>
            <div class="flex text-sm text-gray-600 justify-center">
              <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>Upload a file</span>
                <input id="file-upload" name="file-upload" type="file" class="sr-only">
              </label>
            </div>
            <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>