<h1 class="text-2xl font-semibold text-gray-900">Products</h1>
<br>
<%= link_to 'Add a new Product', new_product_path, class: ' text-indigo-600' %>
<br>
<% @products.each do |product| %>
  <p><%= link_to product.name, edit_product_path(product) %></p>
<% end %>
